@import url("../styles/reset.css");
@import url("../styles/fonts.css");
@import 'mixins';
* {
  box-sizing: border-box;
  outline: none;
}
*::after, *::before {
  box-sizing: border-box;
}
button:hover {
  cursor: pointer;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  color: $dark;
  background: $gray;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.main-btn {
  border-radius: 40px;
  padding: 13px 27px;
  font-size: 14px;
  letter-spacing: 2px;
}
.main-head {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 38px;
}
.number-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 337px;
  &__call-btn {
    border: 2px $pink solid;
    border-radius: 40px;
    padding: 13px 27px;
    font-size: 14px;
  }
}

.header {
  &__top-line {
    background: #E5E5E5;
  }
  &__top-line-wrapper {
    font-size: 0.8rem;
    margin: 0 auto;
    padding: 17px 0;
    width: 447px; 
    ul  {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .logo::after {
    position: relative;
    top: -25px;
    left: 16px;
    content: 'BEAUTY';
    font-family: 'ROBOTO';
    color: $pink;
    font-weight: 700;
    font-size: 2.25rem;
  }
  &__second-line {
    padding: 20px 0;
    border: 1px solid #EFEFEF;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      .finder input {
        height: 40px;
        padding: 10px 20px;
        border: none;
        border-radius: 40px;
        background-color: $gray;
      }
    }
  }
  &__main-menu {
    &-wrapper {
      width: 675px;
      padding: 30px 0;
      margin: 0 auto;
      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}
.first-screen {
  color: white;
  height: 604px;
  background: url('../img/Frame\ 2.png');
  background-repeat: no-repeat;
  background-position: center;
  &__wrapper-inner {
    position: relative;
    top: 190px;
    width: 308px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__head {
    font-weight: 700;
    font-size: 3rem;
  }
  &__text {
    font-size: 0.87rem;
    line-height: 20px;
  }
  &__btn {
    background: transparent;
    color: white;
    border: 2px white solid;
  }
}
.goods {
  margin-top: 80px;
  &__goods-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;;
    .goods__cart {
      background: white;
      text-align: center;
      padding: 25px 30px;
      &-info {
        line-height: 24px;
      }
      &-price {
        margin: 12px 0 2px 0;
        display: block;
        font-weight: 500;
        font-size: 21px;
      }
      &-btn {
        border: none;
        background: $pink;
        color: white;
      }
    } 
  }
}
.store-info {
  margin: 100px 0;
  color: white;
  &__head {
    font-weight: 700;
    font-size: 18px;
  }
  &__text {
    margin: 25px 0;
  }
  &__btn {
    color: whitesmoke;
    width: 200px;
    border: 2px solid white;
    background: transparent;
  }
  input {
    border-radius: 30px;
    padding: 9px 25px;
    border:none;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 15px;
  }
  &__blocks {
    padding: 35px 35px;
    background: $pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__envelope {
    &-content-wrapper {
    }
  }
  &__visit {
    &-content-wrapper {
    }
  }
}
.brands {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    padding: 35px 63px;
    border: 1px solid #e3e3e3;  
  }
}
.footer {
  margin-top: 80px;
  padding-top: 60px;
  background-color: white;
  &__container {
  }
  &__blocks-wrapper {
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  &__block {
    font-size: 12px;
    width: 255px;
    &-head {
      font-size: 16px;
      font-weight: 500;
      line-height: 22.5px;
      display: block;
      ::after {
        display: block;
        margin: 30px 0;
        width: 100%;
        height: 1px; 
        border-bottom: 1px #EFEFEF solid;
        content: '';
      }
    }
  }
  &__list{
    color: #828282;
    li {
      line-height: 28px;
    }
  }
  &__bottom {
    &-wrapper {
      padding: 38px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 236px;
    &-item {
      text-align: center;
      box-sizing: border-box;
      width: 45px;
      border-radius: 50%;
      padding: 10px 0;      
      border: 2px #F13C6E solid;
    }
  }
  &__last-line {
    padding:25px 0;
    background: #EFEFEF;
    &-wrapper {
      font-size:12px;
      display: flex;
      justify-content: space-between;
    }
  }
}