@import url("../styles/reset.css");
@import url("../styles/fonts.css");
* {
  box-sizing: border-box;
  outline: none;
}

*::after, *::before {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: #333333;
  background: #EFEFEF;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.main-btn {
  border-radius: 40px;
  padding: 13px 27px;
  font-size: 14px;
  letter-spacing: 2px;
}

.main-head {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 38px;
}

.header__top-line {
  background: #EFEFEF;
}
.header__top-line-wrapper {
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 17px 0;
  width: 447px;
}
.header__top-line-wrapper ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header .logo::after {
  position: relative;
  top: -25px;
  left: 16px;
  content: "BEAUTY";
  font-family: "ROBOTO";
  color: #F13C6E;
  font-weight: 700;
  font-size: 2.25rem;
}
.header__second-line {
  padding: 20px 0;
  border: 1px solid #EFEFEF;
}
.header__second-line-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.header__second-line-wrapper .finder input {
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  background-color: #EFEFEF;
}
.header__second-line-wrapper .number-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
}
.header__second-line-wrapper .number-block__call-btn {
  border: 2px #F13C6E solid;
  border-radius: 40px;
  padding: 13px 27px;
  font-size: 14px;
}
.header__main-menu-wrapper {
  width: 675px;
  padding: 30px 0;
  margin: 0 auto;
}
.header__main-menu-wrapper ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.first-screen {
  color: white;
  height: 604px;
  background: url("../img/Frame 2.png");
  background-repeat: no-repeat;
  background-position: center;
}
.first-screen__wrapper-inner {
  position: relative;
  top: 190px;
  width: 308px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.first-screen__head {
  font-weight: 700;
  font-size: 3rem;
}
.first-screen__text {
  font-size: 0.87rem;
  line-height: 20px;
}
.first-screen__btn {
  background: transparent;
  color: white;
  border: 2px white solid;
}

.goods {
  margin-top: 80px;
}
.goods__goods-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.goods__goods-wrapper .goods__cart {
  background: white;
  text-align: center;
  padding: 25px 30px;
  width: 255px;
}
.goods__goods-wrapper .goods__cart-info {
  line-height: 24px;
}
.goods__goods-wrapper .goods__cart-price {
  margin: 12px 0 2px 0;
  display: block;
  font-weight: 500;
  font-size: 21px;
}
.goods__goods-wrapper .goods__cart-btn {
  border: none;
  background: #F13C6E;
  color: white;
}

.store-info {
  margin: 100px 0;
}
.store-info__wrapper {
  display: flex;
  justify-content: space-between;
}
.store-info__blocks {
  padding: 35px 35px;
  background: #F13C6E;
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.store-info__envelope-content-wrapper {
  width: 250px;
}
.store-info__visit-content-wrapper {
  width: 170px;
}

/*# sourceMappingURL=style.css.map */
