@import url("../styles/reset.css");
@import url("../styles/fonts.css");
* {
  box-sizing: border-box;
  outline: none;
}

*::after, *::before {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: #333333;
  background: #EFEFEF;
}

.container {
  max-width: 1150px;
  padding: 20px;
  margin: 0 auto;
}

.main-btn {
  border-radius: 40px;
  padding: 13px 27px;
  font-size: 14px;
  letter-spacing: 2px;
}

.main-head {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 38px;
}

.number-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 337px;
}
.number-block__call-btn {
  border: 2px #F13C6E solid;
  border-radius: 40px;
  padding: 13px 27px;
  font-size: 14px;
}

.header {
  background-color: white;
}
.header__top-line {
  background: #E5E5E5;
}
.header__top-line-wrapper {
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 17px 0;
  max-width: 447px;
}
.header__top-line-wrapper ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header .logo::after {
  position: relative;
  top: -25px;
  left: 16px;
  content: "BEAUTY";
  font-family: "ROBOTO";
  color: #F13C6E;
  font-weight: 700;
  font-size: 2.25rem;
}
.header__second-line {
  padding: 20px 0;
  border: 1px solid #EFEFEF;
}
.header__second-line-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.header__second-line-wrapper .finder input {
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  background-color: #EFEFEF;
}
.header__main-menu-wrapper {
  max-width: 675px;
  padding: 30px 0;
  margin: 0 auto;
}
.header__main-menu-wrapper ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.first-screen {
  color: white;
  height: 604px;
  background: url("../img/Frame 2.png");
  background-repeat: no-repeat;
  background-position: center;
}
.first-screen__wrapper-inner {
  position: relative;
  top: 190px;
  width: 308px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.first-screen__head {
  font-weight: 700;
  font-size: 3rem;
}
.first-screen__text {
  font-size: 0.87rem;
  line-height: 20px;
}
.first-screen__btn {
  background: transparent;
  color: white;
  border: 2px white solid;
}

.goods {
  margin-top: 80px;
}
.goods__goods-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, auto));
  grid-gap: 30px;
}
.goods__goods-wrapper .goods__cart {
  background: white;
  text-align: center;
  padding: 25px 30px;
}
.goods__goods-wrapper .goods__cart-info {
  line-height: 24px;
}
.goods__goods-wrapper .goods__cart-price {
  margin: 12px 0 2px 0;
  display: block;
  font-weight: 500;
  font-size: 21px;
}
.goods__goods-wrapper .goods__cart-btn {
  border: none;
  background: #F13C6E;
  color: white;
}

.store-info {
  margin: 100px 0;
  color: white;
}
.store-info__head {
  font-weight: 700;
  font-size: 18px;
}
.store-info__text {
  margin: 25px 0;
}
.store-info__btn {
  color: whitesmoke;
  width: 200px;
  border: 2px solid white;
  background: transparent;
}
.store-info input {
  border-radius: 30px;
  padding: 9px 25px;
  border: none;
}
.store-info__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  grid-gap: 15px;
}
.store-info__blocks {
  padding: 35px 35px;
  background: #F13C6E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(279px, auto));
}
.brands__item {
  display: flex;
  justify-content: center;
  padding: 35px 0;
  border: 1px solid #e3e3e3;
}

.footer {
  margin-top: 80px;
  padding-top: 60px;
  background-color: white;
}
.footer__blocks-wrapper {
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, auto));
  grid-gap: 50px 30px;
}
.footer__block {
  font-size: 12px;
  width: 255px;
}
.footer__block-head {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.5px;
  display: block;
}
.footer__block-head ::after {
  display: block;
  margin: 30px 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px #EFEFEF solid;
  content: "";
}
.footer__list {
  color: #828282;
}
.footer__list li {
  line-height: 28px;
}
.footer__bottom-wrapper {
  padding: 38px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 236px;
}
.footer__social-item {
  text-align: center;
  box-sizing: border-box;
  width: 45px;
  border-radius: 50%;
  padding: 10px 0;
  border: 2px #F13C6E solid;
}
.footer__last-line {
  padding: 25px 0;
  background: #EFEFEF;
}
.footer__last-line-wrapper {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
